<template>
  <div id="app">
      <div class="hero-body">
        <h1 class="title">
          Usuarios obtenidos por API
        </h1>
      </div>
    <ConfigAxios />
  </div>
</template>

<script>
import ConfigAxios from './components/configaxios.vue'

export default {
  name: 'app',
  components: {
    ConfigAxios
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Laila:400,600|Lato:300,400');
#app {
  font: 300 .875rem Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/* Flex */
.flex{display:flex}
.wrap{flex-wrap: wrap}
.align-center{align-content: center;align-items: center}
.justify-around{justify-content: space-around}
.justify-between{justify-content: space-between}
.justify-center{justify-content: center}
.justify-end{justify-content: flex-end}
.justify-evenly{justify-content: space-evenly}
/*Hero*/
.hero-body{background-color: #23d160;color:#fff;padding: 3rem 1.5rem;}
.title{font:600 2rem Laila;line-height: 1.125;}
/*Button*/
.button{background-color: #fff;border: 2px solid #23d160;border-radius: 290486px;font:400 16px Laila;margin-top:-1rem;padding-left: 1em;padding-right: 1em;}
</style>
