<template>
  <div>
      <button class="button" @click="fetchData">Cargar personas</button>
      <User :urls='users'/>
  </div>
</template>

<script>
import axios from 'axios';
import User from './User.vue'

export default {
  components:{
    User
  },
  methods:{
    fetchData: function() {
    axios.get(`https://randomuser.me/api/?results=24`)
    .then(response => {
      let index = 0;
      let users = [];
      for (const results of response.data.results) {
        index = index +1;
        users.push({
          index,
          gender:results.gender,
          age:results.dob.age,
          name: {...results.name},
          location:{
            street:results.location.street,
            city:results.location.city,
            state:results.location.state
            },
          email:results.email,
          phone:results.phone,
          cell:results.cell,
          picture:results.picture.large
          })
        }
        this.users = users
      })
      .catch(e => {
        this.errors.push(e)
      })
    }

  },
  data() {
    return {
      users: [],
      errors: []
    }
  }
}

</script>
