<template>
  <div class="body flex wrap justify-evenly">
    <div class="card" v-for='user of urls' v-bind:key='user.index'>
      <div class="card-header">
        <img class="picture" v-bind:src="user.picture" v-bind:alt="user.name" />
        <img class="background" v-bind:src="user.picture" v-bind:alt="user.name" />
      </div>
      <div class="card-content">
        <h3 class="title"><span v-for='name in user.name'>{{ name }} </span> </h3>
        <p class="subtitle">{{ user.email }}</p>
            <!-- Datos -->
            <div class="row flex">
              <div class="column-3">
                <p>{{ user.gender }}</p>    
              </div>
              <div class="column-3">
                <p>{{ user.age }} years</p>    
              </div>
              <div class="column-6">
                <p>{{ user.phone}}<br/>{{ user.cell}}</p>    
              </div>
            </div>
            <!-- Localización -->
            <div class="row flex">
              <div class="column-3  flex justify-center">
                <div class="icon map"></div>
              </div>
              <div class="column-9">
                {{ user.location.street }}<br/>
                {{ user.location.city }}, {{ user.location.state }}
              </div>
            </div>
      </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'User',
  props: {
    urls: []
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.body{margin-top:2rem}
.column-3 {width: 33.33%;}
.column-6 {width: 50%;}
.column-9 {width: 77.77%;}
.card{background-color: #ffffff00;box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);color: #4a4a4a;margin: 1rem;position: relative;overflow: hidden;width: 20%}
.card-content{background-color:#fff}
/*Card header*/
.background{-webkit-filter: blur(10px);filter: blur(10px);position:absolute;right:0;top:0;width: 100%;z-index:-1}
.picture{padding:2rem;z-index:1}
/*Card content*/
.title{font-size:1.5rem;margin-bottom:0}
.subtitle{color:#23d160;font-weight: 400;line-height: 1.25;margin-top:.5rem}
.row {margin: 1rem 0;width: 100%;}
/* Map Icon */
.map{position:relative;width:25px;height:25px;border-radius:50%;background-color:#000}
.map:after{content:"";position:absolute;bottom:-12px;left:2px;width:0;height:0;border-top:20px solid #000;border-left:10px solid transparent;border-right:10px solid transparent}
.map:before{content:"";position:absolute;width:7px;height:7px;background-color:#fff;top:9px;left:9px;border-radius:100%;z-index:100}
</style>
